{% extends "base.twig" %}

{% block title %}History{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-4">
    <div class="small-box bg-green">
      <div class="inner">
        <h3 id="miles"></h3>
        <p>Miles Traveled</p>
      </div>
      <div class="icon">
        <i class="fa fa-map-signs"></i>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="box">
      <div id="map" style="height:200px;width:100%"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="https://npmcdn.com/@turf/turf@3.5.1/turf.min.js"></script>
  <script src="/js/global.js"></script>
  <script src="/js/line.js"></script>
{% endblock %}
