{% extends "base.twig" %}

{% block title %}History{% endblock %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <div class="box">
      <div id="map" style="height:200px;width:100%"></div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="/js/global.js"></script>
  <script src="/js/line.js"></script>
{% endblock %}
