{% extends "base.twig" %}

{% block title %}Trips{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Trips</h3>
      </div>
      <div class="box-body no-padding">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Label</th>
              <th>Machine Name</th>
              <th>Start*</th>
              <th>End*</th>
            </tr>
          </thead>
          <tbody id="triplist"></tbody>
          <tfoot>
            <th colspan="3"></th>
            <th colspan="2"><em>* Times are rendered in your system's current timezone.</em></th>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="/js/trips.js"></script>
{% endblock %}
